<% layout ('layout') %>
<!-- NAVBAR
================================================== -->


    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Fly Me Now!</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#" data-toggle="modal" data-target="#contactus">Contact</a></li>
                 <li><a href="#" data-toggle="modal" data-target="#login">Sign In</a></li>
                 <li><a href="#" data-toggle="modal" data-target="#add-user">New User</a></li>                
                 <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="./images/angel_thumbs.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Do you want to learn how to FLY?</h1>
              <!-- <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p> -->
              <p><a class="btn btn-lg btn-primary" href="#" role="button" data-toggle="modal" data-target="#login">Sign In </a></p>
               <p><a class="btn btn-lg btn-primary" href="#" role="button" data-toggle="modal" data-target="#add-user">New User</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./images/arunmelody_candlestick.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Do you want to learn how to BASE?</h1>
              <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
              <p><a class="btn btn-lg btn-primary" href="#" role="button" data-toggle="modal" data-target="#login">Sign In </a></p>
               <p><a class="btn btn-lg btn-primary" href="#" role="button" data-toggle="modal" data-target="#add-user">New User</a></p>

            </div>
          </div>
        </div>
        <div class="item">
          <img src="./images/pyramid.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Join us! Anyone can do this!</h1>
             <!--  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
               <p><a class="btn btn-lg btn-primary" href="#" role="button" data-toggle="modal" data-target="#login">Sign In </a></p>
               <p><a class="btn btn-lg btn-primary" href="#" role="button" data-toggle="modal" data-target="#add-user">New User</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" style="margin-top: 50px">

      <!-- Three columns of text below the carousel -->
      <div class="row" style="text-align: center;">
        <div class="col-lg-4">
          <img class="img-circle" src="./images/arun_huh.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>What is Acro Yoga?</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="./images/joshua_hug.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Resources to Level Up</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="./images/angel_thumbsup.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Events Just for You!</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

<!-- Modal  FOR Contact Us-->

<div class="modal fade" id="contactus">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">How to Contact Us</h4>
      </div>

      <div class="modal-body">

         <h4 class="margin-top-20">If you are feeling adventurous, join us at the grass area underneath the Bow and Arrow overlooking the Bay Bridge, along the Embarcadero!  We promise not to bite!</h4>
      
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         
        </div>
      </form>
    </div>
  </div>
</div>

<!-- end modal for Contact Us -->

<!-- Modal for Login Screen -->

<!-- Modal  FOR LOG IN SCREEN -->

<div class="modal fade" id="login">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">User Login</h4>
      </div>

      <form method="post" action="/login">
      <div class="modal-body">
         <h4 class="margin-top-20">Username</h4>
      <div class="margin-top-20">
          <input 
            name="username"
            type="text"
            id="username" 
            class="form-control"
            placeholder="Username" />
        </div>
         <h4 class="margin-top-20">Password</h4>
        <div class="margin-top-20">
          <input 
            name="password"
            type="password"
            id="email_address" 
            class="form-control"
            placeholder="Password" />
        </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="save-login" type="submit" class="btn btn-primary">Save</button>

        
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for Login Screen -->
<!-- Modal  FOR NEW USER-->

<div class="modal fade" id="add-user">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a New User Login</h4>
      </div>
    
      <form method="post" action="/newuser">

        <div class="modal-body">
          <h4>First Name</h4>
          <div class="margin-top-20">
            <input name="firstname" 
              id="first-name" 
              class="form-control"
              placeholder="First Name" 
          </div>
          <h4 class="margin-top-20">Last Name</h4>
          <div class="margin-top-20">
            <input 
              name="lastname"
              id="last-name"  
              class="form-control"
              placeholder="Last Name" />
          </div>
          <h4 class="margin-top-20">Email Address</h4>
          <div class="margin-top-20">
            <input 
              name="emailaddress"
              type="text"
              id="email_address" 
              class="form-control"
              placeholder="Name@Somecompany.com" />
          </div>
           <h4 class="margin-top-20">Username</h4>
          <div class="margin-top-20">
            <input 
              name="username"
              type="text"
              id="newusername" 
              class="form-control"
              placeholder=" New Username" />
          </div>
           <h4 class="margin-top-20">Password</h4>
          <div class="margin-top-20">
            <input 
              name="password"
              type="password"
              id="password" 
              class="form-control"
              placeholder=" New Password" />
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="save-user" type="submit" class="btn btn-primary">Save</button>
        </div>
   </form>
    </div>
  </div>
</div>

<!--/Modal for NEW USER-->







<!--/Modal for LOG IN SCREEN -->
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014, I WANT TO BE 5 AGAIN, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


   
