<% layout ('layout') %>
<!-- NAVBAR
================================================== -->


    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Fly Me Now!</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Levels <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/selection/level/1">Level 1</a></li>
                    <li><a href="/selection/level/2">Level 2</a></li>
                    <li><a href="/selection/level/3">Level 3</a></li>
                    <li><a href="/selection/level/0">Therapeutic Acro</a></li>                   <!--  <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li> -->
                  </ul>
                </li>
                
                  <li><a href="#" role="button" data-toggle="modal" data-target="#add-video">Upload A Video</a></li>
                  <li><a href="#contact">Contact</a></li>
                 <li><a href="/logout">Log Out</a></li>
                                 
  
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

<!-- beginning of container -->
    <div class="container" >
      <hr class="featurette-divider">

      <div class="row featurette" style="margin-top: 50px;">
        <div class="col-md-7">
          <h2 class="featurette-heading"> <a href="#">Level One</a> <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">In this section, it should include a list of the links, the name of the poses and any related poses. When the user clicks on that link, it can be featured in this page below in a smaller window or it can be expanded into a larger window.</p>

          <div class="row"> 
            <table>
              <thead style="font-size: 15px, bold";>
                <th class="col-md-4">Name of Pose</th>
                <th class="col-md-4">Link</th>
                <th class="col-md-4">Transition Poses (if any) </th>
              </thead>

              <tbody>
               <!--  <tr>
                  <td class="col-md-4">Name of Pose</td>
                  <td class="col-md-4">Link</td>
                  <td class="col-md-4">Transition Poses </td>
                </tr> -->
              </tbody>
            </table>
          </div>      
         
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="./images/georgethinker.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
    </div>

    <div class="container">
  <h1>Level One Poses </h1>
  <hr />

  <table class="table table-striped margin-top-20">
    <thead>
      <th>Name of Position</th>
      <th>URL Link</th>
      <th>Transition Poses</th>
      
    </thead>
    <tbody>
      <% videos.forEach(function(v) { %>
      <tr>
        <td><%= v.positionname %></td>
        <td><%= v.url %></td>
        <td><%= v.words %></td>
        
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>


    <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014, I WANT TO BE 5 AGAIN, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
