<% layout ('layout') %>
<!-- NAVBAR
================================================== -->


    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Fly Me Now!</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Levels <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/selection/level/1">Level 1</a></li>
                    <li><a href="/selection/level/2">Level 2</a></li>
                    <li><a href="/selection/level/3">Level 3</a></li>
                    <li><a href="/selection/level/0">Therapeutic Acro</a></li>                   <!--  <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li> -->
                  </ul>
                </li>
                
                  <li><a href="#" role="button" data-toggle="modal" data-target="#add-video">Upload A Video</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#contactus">Contact</a></li>
                 <li><a href="/logout">Log Out</a></li>
                                 
  
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


          <!-- START THE FEATURETTES -->
<div class="container" >
      <hr class="featurette-divider">

      <div class="row featurette" style="margin-top: 50px;">
        <div class="col-md-7">
          <h2 class="featurette-heading"> <a href="/selection/level/1">Level One</a> <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">In this section, you'll find your classmates demonstrating various acro yoga static positions.  </p> 

           <p class="lead">We were able to achieve this through focus, trust, and strong communication.</p>  

           <p class="lead">To the right, George is in the THINKER pose.</p>     
         
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="./images/georgethinker.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="./images/melody_throne.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"> <a href="/selection/level/2">Level Two </a><span class="text-muted">Building More Strength!</span></h2>
          <p class="lead">DIn this section, you'll find your classmates demonstrating various acro yoga static positions.  </p> 

           <p class="lead">We were able to achieve this through focus, trust, and strong communication.</p>  

           <p class="lead">To the left, Melody is sitting cross-legged in the THRONE pose.</p>
         
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="/selection/level/3">Level Three</a> <span class="text-muted">More Washing Machines!</span></h2>
          <p class="lead">In this section, you'll find your classmates demonstrating various acro yoga static positions.  </p>

          <p class="lead">We were able to achieve this through focus, trust, and strong communication.</p> 

          <p class="lead">To the right, George is based by Angel in HIGH FLYING WHALE pose.</p>
          

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="./images/george_angel_whale.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="./images/downwarddog3.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="/selection/level/0">Therapeutic Acro Yoga </a><span class="text-muted">You've Earned It!</span></h2>
          <p class="lead">In this section, you'll find your classmates and teacher demonstrating various acro yoga static positions.  </p>

          <p class="lead">We were able to achieve this through focus, trust, and strong communication. </p>

          <p class="lead">To the left, George, Angel, and Arun are all getting a strong stretch on their backs. </p>
          
        </div>
      </div>

      <!-- /END THE FEATURETTES -->

<!-- Modal  FOR Contact Us-->

<div class="modal fade" id="contactus">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">How to Contact Us</h3>
      </div>

      <div class="modal-body">

         <h4 class="margin-top-20">If you are feeling adventurous, join us at the grass area underneath the Bow and Arrow overlooking the Bay Bridge, along the Embarcadero!  We promise not to bite!</h4>
      
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         
        </div>
      </form>
    </div>
  </div>
</div>

<!-- end modal for Contact Us -->
      <!-- Modal Add Video -->

<div class="modal fade" id="add-video">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a New Video</h4>
      </div>
     <form method="post" action="/selection">
        <div class="modal-body">
          <h4>Name of Acro Yoga Position</h4>
          <div class="margin-top-20">
            <input name="posname" 
              id="acroname" 
              type="text"
              class="form-control"
              placeholder="Name of Acro Yoga Position " />
          </div>
          <h4 class="margin-top-20">What is the Level of this Pose?</h4>
          <div class="margin-top-20">
            <input name="level"
              type="text"
              id="youtube"  
              class="form-control"
              placeholder="Enter 1, 2, 3, or 0 for Therapeutic"/>
          </div>
          <h4 class="margin-top-20">YouTube Video Link</h4>
          <div class="margin-top-20">
            <input name="url"
              type="url"
              id="youtube"  
              class="form-control"
              placeholder="https://youtube link...." />
          </div>
          <h4 class="margin-top-20">Transition Poses for this flow (if any)</h4>
          <div class="margin-top-20">
            <input name="words"
              type="text"
              id="keywords" 
              class="form-control"
              placeholder="Ex: Bird, Plank, Star, Shoulder Stand"  />
          </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="save-video" type="submit" class="btn btn-primary">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<!--/Modal for Add Video-->



      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014, I WANT TO BE 5 AGAIN, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>


