<% layout ('layout') %>
<!-- NAVBAR
================================================== -->


    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Fly Me Now!</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Levels <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/selection/level/1">Level 1</a></li>
                    <li><a href="/selection/level/2">Level 2</a></li>
                    <li><a href="/selection/level/3">Level 3</a></li>
                    <li><a href="/selection/level/0">Therapeutic Acro</a></li>                   <!--  <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li> -->
                  </ul>
                </li>
                
                  <li><a href="#" role="button" data-toggle="modal" data-target="#add-video">Upload A Video</a></li>
                  <li><a href="#contact">Contact</a></li>
                 <li><a href="/logout">Log Out</a></li>
                                 
  
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- beginning of container -->
    <div class="container" >
      <hr class="featurette-divider">

      <div class="row featurette" style="margin-top: 50px;">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="./images/downwarddog3.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><a href="#">Therapeutic Acro Yoga </a><span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <div class="row"> 
            <table>
              <thead style="font-size: 15px, bold";>
                <th class="col-md-4">Name of Pose</th>
                <th class="col-md-4">Link</th>
                <th class="col-md-4">Transition Poses (if any) </th>
              </thead>

              <tbody>
                <tr>
                  <td class="col-md-4">Name of Pose</td>
                  <td class="col-md-4">Link</td>
                  <td class="col-md-4">Transition Poses </td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
      </div>
    </div>
   <!--  end of container -->

   <!-- Modal Add Video -->

<div class="modal fade" id="add-video">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a New Video</h4>
      </div>
     <form method="post" action="/selection">
        <div class="modal-body">
          <h4>Name of Acro Yoga Position</h4>
          <div class="margin-top-20">
            <input name="posname" 
              id="acroname" 
              type="text"
              class="form-control"
              placeholder="Name of Acro Yoga Position " 
          </div>
          <h4 class="margin-top-20">What is the Level of this Pose?</h4>
          <div class="margin-top-20">
            <input name="level"
              type="text"
              id="youtube"  
              class="form-control"
              placeholder="1 or 2 or 3 or 4 or 5"/>
          </div>
          <h4 class="margin-top-20">YouTube Video Link</h4>
          <div class="margin-top-20">
            <input name="url"
              type="url"
              id="youtube"  
              class="form-control"
              placeholder="https://youtube link...." />
          </div>
          <h4 class="margin-top-20">Transition Poses for this flow (if any)</h4>
          <div class="margin-top-20">
            <input name="words"
              type="text"
              id="keywords" 
              class="form-control"
              placeholder="Ex: Bird, Plank, Star, Shoulder Stand"  />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="save-video" type="submit" class="btn btn-primary">Save</button>
        </div>
   
    </div>
  </div>
</div>

<!--/Modal for Add Video-->

    <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014, I WANT TO BE 5 AGAIN, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
