<% layout ('layout') %>
<!-- NAVBAR
================================================== -->


    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Fly Me Now!</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Levels <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/selection/level/1">Level 1</a></li>
                    <li><a href="/selection/level/2">Level 2</a></li>
                    <li><a href="/selection/level/3">Level 3</a></li>
                    <li><a href="/selection/level/0">Therapeutic Acro</a></li>                   <!--  <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li> -->
                  </ul>
                </li>
                
                  <li><a href="#" role="button" data-toggle="modal" data-target="#add-video">Upload A Video</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#contactus">Contact</a></li>
                 <li><a href="/logout">Log Out</a></li>
                                 
  
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- beginning of container -->
    <div class="container" >
      <hr class="featurette-divider">

      <div class="row featurette" style="margin-top: 50px;">
        <div class="col-md-7">
          <h2 class="featurette-heading"> <a href="#">Therapeutic Acro Yoga</a> <span class="text-muted">You've Earned It!</span></h2>
          <p class="lead">In this section, you will find a list of the links, the name of the poses and any related transition poses. When you click on that link, it will be featured in another tab.</p>
         
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/angel_george_cat_cow.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
    </div>

 <!--  end of container -->

   <!-- making a table to show the results of the videos for this level -->
<div class="container">
  <h1>Therapeutic Poses</h1>
  <hr />

  <div class="margin-top-20">
    <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-video">Upload a Video</a>
  </div>
  <table class="table table-striped margin-top-20">
    <thead>
      <th>Name of Pose</th>
      <th>URL Link</th>
      <th>Transition Poses</th>
    
    </thead>
    <tbody>
      <% allVideos.forEach(function(a) { %>
      <tr>
        <td><%= a.pos_name %></td>
        <td><a href="<%= a.url %>" target="_blank">Launch Video</a></td>
        <td><%= a.words %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<!-- end of container for the video results  -->

<!-- Modal  FOR Contact Us-->

<div class="modal fade" id="contactus">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">How to Contact Us</h4>
      </div>

      <div class="modal-body">

         <h4 class="margin-top-20">If you are feeling adventurous, join us at the grass area underneath the Bow and Arrow overlooking the Bay Bridge, along the Embarcadero!  We promise not to bite!</h4>
      
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         
        </div>
      </form>
    </div>
  </div>
</div>

<!-- end modal for Contact Us -->
   <!-- Modal Add Video -->

<div class="modal fade" id="add-video">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a New Video</h4>
      </div>
     <form method="post" action="/selection">
        <div class="modal-body">
          <h4>Name of Acro Yoga Position</h4>
          <div class="margin-top-20">
            <input name="posname" 
              id="acroname" 
              type="text"
              class="form-control"
              placeholder="Name of Acro Yoga Position " 
          </div>
          <h4 class="margin-top-20">What is the Level of this Pose?</h4>
          <div class="margin-top-20">
            <input name="level"
              type="text"
              id="youtube"  
              class="form-control"
              placeholder="Enter 1, 2, 3, or 0 for Therapeutic"/>
          </div>
          <h4 class="margin-top-20">YouTube Video Link</h4>
          <div class="margin-top-20">
            <input name="url"
              type="url"
              id="youtube"  
              class="form-control"
              placeholder="https://youtube link...." />
          </div>
          <h4 class="margin-top-20">Transition Poses for this flow (if any)</h4>
          <div class="margin-top-20">
            <input name="words"
              type="text"
              id="keywords" 
              class="form-control"
              placeholder="Ex: Bird, Plank, Star, Shoulder Stand"  />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="save-video" type="submit" class="btn btn-primary">Save</button>
        </div>
   
    </div>
  </div>
</div>
</div><!-- /.container -->

<!--/Modal for Add Video-->


    <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014, I WANT TO BE 5 AGAIN, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

